<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js" charset="utf-8"></script>
  <script src="/bower_components/ngstorage/ngStorage.js"></script>

  <script src="/js/module.js"></script>
  <script src="/js/homecontroller.js"></script>
  <script src="/js/matchcontroller.js"></script>
  <script src="/js/maincontroller.js"></script>
  <script src="/js/usercontroller.js"></script>
  <script src="/js/questionnairecontroller.js"></script>
  <script src="/js/registercontroller.js"></script>
  <script src="/js/logincontroller.js"></script>
  <script src="/js/services.js"></script>

</head>
<body ng-app='myApp' ng-controller='homeController'>

  
<div class="container theOutside">
  <div class="row">
    <div class="col-lg-12">
      <ui-view></ui-view>      
    </div>
  </div>
</div>


</body>
</html>