<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref='user' class='glyphicon glyphicon-home'></a></li>
        <li><a ui-sref='match' class='glyphicon glyphicon-heart'></a></li>
        <li><a ui-sref='home' ng-click='logOut()'>Logout</a></li>
      </ul>

    </div>
  </div>
</nav>


    <div class='container'>
        <h1>Matches:</h1>

        <div class="col-md-3" ng-click='selectMatch()'>
          Hello <button class='btn btn-danger btn-sm'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>



    <div class="not-interested col-sm-12">

      <button ng-click='deleteAll()'>Not Interested</button>
    </div>


    </div>



























    
<div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="propertyInfo">
          <h4>New user? Register here:</h4>
          <form ng-submit="userSubmit()">
            <div class="form-group">
              <label class="control-label" for="focusedInput">Username</label>
              <input class="form-control" id="focusedInput" type="text" placeholder="Username" ng-model='user.username'>
              <label class="control-label" for="focusedInput">Password</label>
              <input class="form-control" id="focusedInput" type="password" placeholder="Password" ng-model='user.password'>
            </div>

            <button type="button" class="btn btn-default" ng-click="removeProperty()">Cancel</button>  
            <button class="btn btn-success">Register now</button>   
            <!--  have this button click and authenticate... if it works, bring them to profile
          </form>
        </div>
      </div>

  

      <div class="col-lg-6">
      <h4>Existing users:</h4>
        <form ng-submit="userLogin()">
        <div class="form-group">
          <label class="control-label" for="focusedInput">Username</label>
          <input class="form-control" id="focusedInput" type="text" placeholder="Username" ng-model='userExisting.username'>
          <label class="control-label" for="focusedInput">Password</label>
          <input class="form-control" id="focusedInput" type="password" placeholder="Password" ng-model='userExisting.password'>
        </div>
      <button type="button" class="btn btn-default" ng-click="removeProperty()">Cancel</button>  
      <button class="btn btn-success">Login</button>   
       <!--  have this button click and authenticate... if it works, bring them to profile -->
        </form>
      </div>
      <!-- after login, just bring them to profile -->
    </div>
  </div>

