<div class="questionnaire" ng-controller='questionnaireController'>

  <div class="userInfo">
    <h4>Enter your information so we can find you a match! <span class='glyphicon glyphicon-heart'></span></h4>
    <form ng-submit="userSubmit()">
      <div class="form-group">

        <div class="container">
          <div class="row">
            <div class="col-lg-6 questionDiv" style='width: 550px'>
            <div class="form-group">
              <label for="focusedInput" class="control-label">Picture of yourself:</label>
              <input type="text" placeholder='URL here' ng-model='user.image' class = 'imageUrl' required>
            </div>


            <div class='form-group'>
                <label class="control-label" for="focusedInput">Who are you looking for?</label>
                <select class="form-control" id="select" ng-model='user.genders.selected' ng-options='t as t for t in genders.options' >
                  <option value=""></option> 
                </select>      
              </div>

              <div class="form-group">
                <label class="control-label" for="focusedInput">Hobbies</label>
                  <select class="form-control" id="select" ng-model='user.hobbies.selected' ng-options='t as t for t in hobbies.options' required>
                    <option value=""></option> 
                  </select>
              </div>

              <div class="form-group">
                <label class="control-label" for="focusedInput">Foods</label>
                  <select class="form-control" id="select" ng-model='user.foods.selected' ng-options='t as t for t in foods.options' required>
                    <option value=""></option> 
                  </select>
              </div>
            <div class="form-group">
              <label class="control-label" for="focusedInput">Do you want to be famous?</label>
              <select class="form-control" id="select" ng-model='user.famous.selected' ng-options='t as t for t in famous.options' required>
                <option value=""></option> 
              </select>
            </div>
                        <div class="form-group">
              <label class="control-label" for="focusedInput">Favorite MEAN stack</label>
                <select class="form-control" id="select" ng-model='user.mean.selected' ng-options='t as t for t in mean.options' required>
                  <option value=""></option> 
                </select>
          </div>
                            
          <div class="form-group">
            <label class="control-label" for="focusedInput">Favorite social media</label>
              <select class="form-control" id="select" ng-model='user.socialMedia.selected' ng-options='t as t for t in socialMedia.options' required>
                <option value=""></option> 
              </select>
          </div>

          <div class="form-group">
            <label class="control-label" for="focusedInput">Personality</label>
              <select class="form-control" id="select" ng-model='user.personalities.selected' ng-options='t as t for t in personalities.options' required>
                 <option value=""></option> 
              </select>
          </div>
                                
          <div class="form-group">
            <label class="control-label" for="focusedInput">Tea or coffee?</label>
              <select class="form-control" id="select" ng-model='user.teaOrCoffee.selected' ng-options='t as t for t in teaOrCoffee.options' required>
                <option value=""></option> 
              </select>
          </div>

          


          
          <div class="form-group">
            <label class="control-label" for="focusedInput">How do you like your steak cooked?</label>
              <select class="form-control" id="select" ng-model='user.steaks.selected' ng-options='t as t for t in steaks.options' required>
                <option value=""></option> 
              </select>
          </div>
          </div>

          <div class="col-lg-6 questionDiv" style='width: 550px'>

          
          <div class="form-group">
            <label class="control-label" for="focusedInput">Which continent would you like to vacation in next?</label>
              <select class="form-control" id="select" ng-model='user.continents.selected' ng-options='t as t for t in continents.options' required>
                <option value=""></option> 
              </select>
          </div>

          <div class="form-group">
            <label class="control-label" for="focusedInput">Phone</label>
              <select class="form-control" id="select" ng-model='user.phones.selected' ng-options='t as t for t in phones.options' required>
                <option value=""></option> 
              </select>
          </div>
          
          <div class="form-group">
            <label class="control-label" for="focusedInput">Favorite genre movie</label>
              <select class="form-control" id="select" ng-model='user.movies.selected' ng-options='t as t for t in movies.options' required>
                <option value=""></option> 
              </select>
          </div>

<div class="form-group">
            <label class="control-label" for="focusedInput">Favorite genre music</label>
              <select class="form-control" id="select" ng-model='user.musics.selected' ng-options='t as t for t in musics.options' required>
                <option value=""></option> 
              </select>
          </div>
          
          <div class="form-group">
            <label class="control-label" for="focusedInput">If you were to be arrested, which crime would you want to be associated with?</label>
              <select class="form-control" id="select" ng-model='user.crimes.selected' ng-options='t as t for t in crimes.options' required>
                <option value=""></option> 
              </select>
          </div>
          
                  <div class="form-group">
              <label class="control-label" for="focusedInput">Colors</label>
                  <select class="form-control" id="select" ng-model='user.colors.selected' ng-options='t as t for t in colors.options' required>
                    <option value=""></option> 
                  </select>
            </div>

            <div class="form-group">
              <label class="control-label" for="focusedInput">Drink</label>
                  <select class="form-control" id="select" ng-model='user.drinks.selected' ng-options='t as t for t in drinks.options' required>
                    <option value=""></option> 
                  </select>
            </div>

            <div class="form-group">
              <label class="control-label" for="focusedInput">Day or night person</label>
                  <select class="form-control" id="select" ng-model='user.dayOrNight.selected' ng-options='t as t for t in dayOrNight.options' required>
                      <option value=""></option> 
                  </select>
            </div>
            
            <div class="form-group">
              <label class="control-label" for="focusedInput">Starter pokemon</label>
                  <select class="form-control" id="select" ng-model='user.pokemons.selected' ng-options='t as t for t in pokemons.options' required>
                        <option value=""></option> 
                  </select>
            </div>

            <div class="form-group">
                <label class="control-label" for="focusedInput">Interest</label>
                <select class="form-control" id="select" ng-model='user.interests.selected' ng-options='t as t for t in interests.options' required>
                  <option value=""></option> 
                </select>
            </div>
      </div>
      

    </div>
</div>
<div class="buttons">
      <button type="button" class="btn btn-default" ng-click="removeQuestionnaire()">Cancel</button>  
      <button class="btn btn-success">Submit answers</button>     
  
</div>
     </form>
  </div>
</div>



